body {
    margin: 0px;
}
img {
    vertical-align: bottom;
  }
.kadai1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
}
.valorant {
    padding: 10px;
}
.image {
    width: 80%;
    text-align: center;
}
@media screen and (max-width: 480px) {
    body {

    }
    .kadai1 {
        display: flex;
        flex-direction: column;
    }
    .valorant {
        width: 100%-20px;
        padding: 10px;
    }
}
.kadai2 {
    display: flex;
}
.valorant2 {
    width: 32%;
    text-align: center;
    margin: 0 auto; 
}
.image2 {
    width: 80%;
    text-align: center;
}
.kadai3 {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
}
.valorant3 {
    padding:10px;
}
.image3 {
    width: 80%;
}